main ul{display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-gap:30px;
}
@media(max-width:700px){
   main ul{display:grid;
    grid-template-columns: 250px 250px;}
}
@media(max-width:400px){
   main ul{display:grid;
    grid-template-columns: 250px;
    }
}
